.item-content {
  padding: 0;
}

.item-col {
  display: inline-block;
  width: 50%;
  vertical-align: text-top;
}

.item-area {
  display: flex;
  padding: 5px 5px;
}

.tourist-attraction-address {
  font-weight: bold;
  font-size: 0.75rem;
  color: rgb(84, 84, 84);
}

.item-info {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tourist-attraction-shared-count {
  display: inline-block;
  font-size: 0.75rem;
  color: rgb(84, 84, 84);
  vertical-align: text-top;
  margin-left: 5px;
}

.tourist-attraction-recommend-count {
  display: inline-block;
  font-size: 0.75rem;
  color: rgb(84, 84, 84);
  vertical-align: text-top;
  margin-left: 5px;
}

.location-icon {
  color: rgb(140, 140, 140);
}

.scrap-icon {
  color: rgb(131, 131, 212);
}

.heart-icon {
  color: rgb(222, 135, 153);
}